In [6]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [7]:
n_class_0, n_class_1

(900, 100)

In [8]:
class_0=pd.DataFrame({"feature1": np.random.normal(loc=0, scale=1, size=n_class_0),  ##loc is the mean and scale is the standard deviation
                      "feature2": np.random.normal(loc=0, scale=1, size=n_class_0),
                      "target": np.zeros(n_class_0)})   
class_1=pd.DataFrame({"feature1": np.random.normal(loc=1, scale=1, size=n_class_1),
                      "feature2": np.random.normal(loc=1, scale=1, size=n_class_1),
                      "target": np.ones(n_class_1)})    
df=pd.concat([class_0, class_1], ignore_index=True)

In [9]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302     0.0
1  0.997345  0.419589     0.0
2  0.282978  1.815652     0.0
3 -1.506295 -0.252750     0.0
4 -0.578600 -0.292004     0.0

In [10]:
df.tail()

     feature1  feature2  target
995  0.376371  1.845701     1.0
996  1.239810 -0.119923     1.0
997  0.131760  0.640703     1.0
998  1.902006 -0.609695     1.0
999  1.697490  1.013570     1.0

In [11]:
df.target.value_counts()

target
0.0    900
1.0    100
Name: count, dtype: int64

In [12]:
df[df["target"] == 1]["feature1"].mean()

np.float64(1.065155284592323)

In [13]:
##Upsampling the minority class
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [14]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\hp\appdata\roaming\python\python311\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\hp\appdata\roaming\python\python311\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.10.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority, replace=True, n_samples=len(df_majority), random_state=123)
df_upsampled=pd.concat([df_majority, df_minority_upsampled], ignore_index=True)
df_upsampled.target.value_counts()

target
0.0    900
1.0    900
Name: count, dtype: int64

In [16]:
df_upsampled

      feature1  feature2  target
0    -1.085631  0.551302     0.0
1     0.997345  0.419589     0.0
2     0.282978  1.815652     0.0
3    -1.506295 -0.252750     0.0
4    -0.578600 -0.292004     0.0
...        ...       ...     ...
1795  1.834499  1.773754     1.0
1796  1.844335  1.015572     1.0
1797  1.197269  3.216788     1.0
1798  1.399896 -1.840847     1.0
1799  1.944820  0.277924     1.0

[1800 rows x 3 columns]

In [18]:
### downsampling the majority class
df_majority_downsampled=resample(df_majority, replace=False, n_samples=len(df_minority), random_state=123)
df_downsampled=pd.concat([df_majority_downsampled, df_minority], ignore_index=True)
df_downsampled.target.value_counts()

target
0.0    100
1.0    100
Name: count, dtype: int64

In [19]:
df_downsampled

     feature1  feature2  target
0   -1.147525  0.284447     0.0
1   -0.448392  0.777222     0.0
2   -1.576233  0.187258     0.0
3    1.601908 -1.080462     0.0
4   -1.085902 -1.775243     0.0
..        ...       ...     ...
195  0.376371  1.845701     1.0
196  1.239810 -0.119923     1.0
197  0.131760  0.640703     1.0
198  1.902006 -0.609695     1.0
199  1.697490  1.013570     1.0

[200 rows x 3 columns]