In [38]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
# Load the dataset
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [40]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [41]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [42]:
df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"], format="%d/%m/%Y")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 918.2+ KB

In [44]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [45]:
df["Additional_Info"].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [46]:
df["Arrival_Time"]=df["Arrival_Time"].apply(lambda x:x.split(' ')[0])

In [47]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [48]:

from cmath import nan

df["Total_Stops"]=df[["Total_Stops"]].replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4, nan:1})

C:\Users\HP\AppData\Local\Temp\ipykernel_17420\508301590.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Total_Stops"]=df[["Total_Stops"]].replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4, nan:1})

In [49]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0.0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2.0,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,No info,13302

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10683 non-null  float64
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 918.2+ KB

In [51]:
df.drop("Route",axis=1,inplace=True)

In [52]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,2h 50m,0.0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,19h,2.0,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,2h 30m,0.0,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,2h 35m,0.0,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,3h,0.0,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,2h 40m,0.0,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,8h 20m,2.0,No info,11753

In [53]:
df['d_hour'] = df['Duration'].apply(lambda x: x.split(' ')[0] if ' ' in x else x)
df['d_min'] = df['Duration'].apply(lambda x: x.split(' ')[1] if ' ' in x else 0)

In [54]:
df['d_hour']=df['d_hour'].apply(lambda x: int(x.split('h')[0]) if 'h' in x else 0)

In [55]:
df['d_min']=df['d_min'].apply(lambda x: int(x.split('m')[0]) if 'm' in str(x) else int(x) if str(x).isdigit() else 0)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10683 non-null  float64
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  d_hour           10683 non-null  int64
 11  d_min            10683 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 1001.7+ KB

In [57]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,d_hour,d_min
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,2h 50m,0.0,No info,3897,2,50
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,No info,7662,7,25
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,19h,2.0,No info,13882,19,0
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,No info,6218,5,25
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,No info,13302,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,2h 30m,0.0,No info,4107,2,30
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,2h 35m,0.0,No info,4145,2,35
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,3h,0.0,No info,7229,3,0
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,2h 40m,0.0,No info,12648,2,40
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,8h 20m,2.0,No info,11753,8,20

In [58]:
df['Duration']=df['d_hour']*60+df['d_min']

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  int64
 7   Total_Stops      10683 non-null  float64
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  d_hour           10683 non-null  int64
 11  d_min            10683 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 1001.7+ KB

In [60]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,d_hour,d_min
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,170,0.0,No info,3897,2,50
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,445,2.0,No info,7662,7,25
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,1140,2.0,No info,13882,19,0
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,325,1.0,No info,6218,5,25
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,285,1.0,No info,13302,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,150,0.0,No info,4107,2,30
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,155,0.0,No info,4145,2,35
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,180,0.0,No info,7229,3,0
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,160,0.0,No info,12648,2,40
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,500,2.0,No info,11753,8,20

In [61]:
df.rename(columns={'Duration': 'Duration(min)'}, inplace=True)

In [62]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration(min),Total_Stops,Additional_Info,Price,d_hour,d_min
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,170,0.0,No info,3897,2,50
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,445,2.0,No info,7662,7,25
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,1140,2.0,No info,13882,19,0
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,325,1.0,No info,6218,5,25
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,285,1.0,No info,13302,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,150,0.0,No info,4107,2,30
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,155,0.0,No info,4145,2,35
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,180,0.0,No info,7229,3,0
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,160,0.0,No info,12648,2,40
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,500,2.0,No info,11753,8,20

In [63]:
df.drop(columns=["d_hour", "d_min"], axis=1, inplace=True)

In [64]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration(min),Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,170,0.0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,445,2.0,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,1140,2.0,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,325,1.0,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,285,1.0,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,150,0.0,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,155,0.0,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,180,0.0,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,160,0.0,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,500,2.0,No info,11753

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration(min)    10683 non-null  int64
 7   Total_Stops      10683 non-null  float64
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 834.7+ KB

In [66]:
df["Total_Stops"]=df["Total_Stops"].astype(int)

In [67]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration(min),Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,170,0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,445,2,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,1140,2,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,325,1,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,285,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,150,0,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,155,0,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,180,0,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,160,0,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,500,2,No info,11753

In [71]:
df['Dep_Time'] = pd.to_datetime(df['Dep_Time']).dt.strftime('%H:%M')
df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time']).dt.strftime('%H:%M')

C:\Users\HP\AppData\Local\Temp\ipykernel_17420\2161858476.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time'] = pd.to_datetime(df['Dep_Time']).dt.strftime('%H:%M')
C:\Users\HP\AppData\Local\Temp\ipykernel_17420\2161858476.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time']).dt.strftime('%H:%M')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration(min)    10683 non-null  int64
 7   Total_Stops      10683 non-null  int64
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 834.7+ KB

In [74]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration(min),Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20,01:10,170,0,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50,13:15,445,2,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25,04:25,1140,2,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05,23:30,325,1,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50,21:35,285,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55,22:25,150,0,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45,23:20,155,0,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20,11:20,180,0,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30,14:10,160,0,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55,19:15,500,2,No info,11753

In [78]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded_data=encoder.fit_transform(df[["Airline","Source","Destination"]]).toarray()

In [79]:
encoded_data

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]], shape=(10683, 23))

In [81]:
pd.DataFrame(encoder.fit_transform(df[["Airline","Source","Destination"]]).toarray(),columns=encoder.get_feature_names_out())

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [82]:
df.drop(columns=["Airline","Source","Destination"],axis=1,inplace=True)

In [83]:
df

,Date_of_Journey,Dep_Time,Arrival_Time,Duration(min),Total_Stops,Additional_Info,Price
0,2019-03-24,22:20,01:10,170,0,No info,3897
1,2019-05-01,05:50,13:15,445,2,No info,7662
2,2019-06-09,09:25,04:25,1140,2,No info,13882
3,2019-05-12,18:05,23:30,325,1,No info,6218
4,2019-03-01,16:50,21:35,285,1,No info,13302
...,...,...,...,...,...,...,...
10678,2019-04-09,19:55,22:25,150,0,No info,4107
10679,2019-04-27,20:45,23:20,155,0,No info,4145
10680,2019-04-27,08:20,11:20,180,0,No info,7229
10681,2019-03-01,11:30,14:10,160,0,No info,12648
10682,2019-05-09,10:55,19:15,500,2,No info,11753